Repository misterVKLN/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/web/**/*.{ts,tsx}": ["cd apps/web && yarn lint:staged"],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

Feat - Move chatbot to backend (#250)
  .secrets.baseline
  apps/api/package.json
  apps/api/prisma/migrations/20260127103000_add_chat_assistant_usage_type/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/user/controllers/chat.controller.ts
  apps/api/src/api/user/modules/chat.module.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/web/app/api/markChat/route.ts
  apps/web/app/api/markChat/stream/route.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/chatbot/lib/markChatFunctions.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix: update find questions query to fetch all, and creating endpoints to find and translate assignments that are missing translations (#269)
  apps/api-gateway/src/main.ts
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.spec.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/scheduled-tasks/services/scheduled-tasks.service.ts
  apps/api/src/main.ts
  apps/api/src/scripts/translation-missing.ts
  apps/web/tsconfig.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

revert notebook grading to original LLM based (#274)
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): file content extraction now fixed the issue with charts for grading (#270)
  .secrets.baseline
  apps/api-gateway/src/main.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.spec.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(api): optimization and memory leaks prevention (#272)
  apps/api/src/api/assignment/v2/services/grading-consistency.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/scheduled-tasks/services/scheduled-tasks.service.ts
  apps/api/src/health/health.module.ts
  apps/api/src/health/health.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: update statement
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): translation sweeping (#277)
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/web/.env.template
  apps/web/app/Helpers/Languages/TrueFalseInAllLang.ts
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/QuestionNumberOfRetries.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/author/layout.tsx
  apps/web/app/layout.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/layout.tsx
  apps/web/components/Dropdown.tsx
  apps/web/components/RouteUiTranslator.tsx
  apps/web/env.d.ts
  apps/web/lib/static-ui-translations/ar/translations.json
  apps/web/lib/static-ui-translations/de/translations.json
  apps/web/lib/static-ui-translations/el/translations.json
  apps/web/lib/static-ui-translations/en/translations.json
  apps/web/lib/static-ui-translations/es/translations.json
  apps/web/lib/static-ui-translations/fr/translations.json
  apps/web/lib/static-ui-translations/hi/translations.json
  apps/web/lib/static-ui-translations/hu/translations.json
  apps/web/lib/static-ui-translations/id/translations.json
  apps/web/lib/static-ui-translations/index.ts
  apps/web/lib/static-ui-translations/it/translations.json
  apps/web/lib/static-ui-translations/ja/translations.json
  apps/web/lib/static-ui-translations/kk/translations.json
  apps/web/lib/static-ui-translations/ko/translations.json
  apps/web/lib/static-ui-translations/nl/translations.json
  apps/web/lib/static-ui-translations/pl/translations.json
  apps/web/lib/static-ui-translations/pt/translations.json
  apps/web/lib/static-ui-translations/ru/translations.json
  apps/web/lib/static-ui-translations/sv/translations.json
  apps/web/lib/static-ui-translations/th/translations.json
  apps/web/lib/static-ui-translations/tr/translations.json
  apps/web/lib/static-ui-translations/uk-UA/translations.json
  apps/web/lib/static-ui-translations/zh-CN/translations.json
  apps/web/lib/static-ui-translations/zh-TW/translations.json
  apps/web/lib/ui-language.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix(api):level title prefill (#276)
  .secrets.baseline
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/controllers/assignment-level-standards.controller.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: translation sweeping script to detect questions correctly
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Feat - Add Cron-Based Automation for Issue Detection, Escalation, and Auto-Closure (#268)
  apps/api/prisma/migrations/20260209183938_add_report_renewal_fields/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/report/types/report.types.ts
  apps/api/src/auth/middleware/user.session.middleware.ts
  apps/api/src/auth/services/admin-email.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: sweep endpoint rate limit
  .secrets.baseline
  apps/api/src/api/admin/controllers/translation-maintenance.controller.spec.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Mark/lti 1.3 (#275)
  apps/web/components/ErrorPage.tsx
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/ingress.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Fix question order drift for marked assignments (#290)
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/question/question.service.spec.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/assignment/utils/question-order.util.spec.ts
  apps/api/src/api/assignment/utils/question-order.util.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/__tests__/version-management.service.spec.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/assignment.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/chatbot/store/useAuthorContext.ts
  apps/web/stores/__tests__/author.test.ts
  apps/web/stores/author.ts
  apps/web/stores/utils/__tests__/question-order.test.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Feat/require all question answers (#249)
  .secrets.baseline
  apps/api/prisma/migrations/20260118164643_add_require_all_questions/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/draft-management.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/Helpers/filterAssignmentConfig.ts
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/config/types.ts
  apps/web/hooks/useVersionControl.ts
  apps/web/lib/utils.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/author.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

test(web): support component regression tests
  apps/web/jest.config.js
  apps/web/jest.setup.js
Due: yarn secrets:check:staged, yarn format:staged

fix(author): move assignment store updates out of layout render
  apps/web/app/author/[assignmentId]/layout.test.tsx
  apps/web/app/author/[assignmentId]/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix(web): guard MarkdownViewer quill initialization
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/__tests__/MarkdownViewer.test.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix(version-control): restore bottom bar checkout behavior
  apps/web/components/version-control/BottomVersionBar.tsx
  apps/web/components/version-control/__tests__/BottomVersionBar.test.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

chore: update the message for the toggle (#291)
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Feat - Improve chatbot question generation output (#282)
  .secrets.baseline
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/author/[assignmentId]/layout.test.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/chatbot/store/AuthorStoreBridge.ts
  apps/web/app/chatbot/store/authorStoreUtil.ts
  apps/web/components/FileUploadModal.tsx
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/version-control/__tests__/BottomVersionBar.test.tsx
  apps/web/lib/question-generation/__tests__/client.test.ts
  apps/web/lib/question-generation/__tests__/normalize.test.ts
  apps/web/lib/question-generation/client.ts
  apps/web/lib/question-generation/normalize.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix: prevent stale feedback state from overriding backend on load (#289)
  apps/web/stores/assignmentFeedbackConfig.ts
  apps/web/stores/author.ts
  apps/web/stores/middlewares.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: required learner tag showing on non required questions (#298)
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

chore: playwright implementation and testing (#189)
  .github/workflows/playwright.yml
  .gitignore
  .secrets.baseline
  README.md
  SETUP.md
  TESTING.md
  apps/api-gateway/package.json
  apps/api/package.json
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/web/entrypoint.sh
  apps/web/next.config.js
  apps/web/package.json
  apps/web/scripts/prepare-next-start.js
  apps/web/scripts/with-merged-env.sh
  package.json
  playwright.config.ts
  scripts/check-port.sh
  scripts/detect-secrets-staged.sh
  scripts/dev.sh
  scripts/server-common.sh
  scripts/start-e2e.sh
  tests/author/assignment-overview.spec.ts
  tests/author/assignment-settings.spec.ts
  tests/helpers/assignment-helpers.ts
  tests/helpers/e2e-bootstrap.ts
  tests/helpers/e2e-test.ts
  tests/learner/assignment-start.spec.ts
  tests/learner/learner-homepage.spec.ts
  tests/setup/e2e.setup.ts
  turbo.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, shellcheck

Patch Excel Grading (#293)
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/spreadsheet-rubric.utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: reroute file or link upload image grading (#309)
  .secrets.baseline
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Revert "chore: playwright implementation and testing (#189)" This reverts commit 6756b1de17c94b1c4c2efb8d246cf8b8181ddc70.
  .github/workflows/playwright.yml
  .gitignore
  .secrets.baseline
  README.md
  SETUP.md
  TESTING.md
  apps/api-gateway/package.json
  apps/api/package.json
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/web/entrypoint.sh
  apps/web/next.config.js
  apps/web/package.json
  apps/web/scripts/prepare-next-start.js
  apps/web/scripts/with-merged-env.sh
  package.json
  playwright.config.ts
  scripts/check-port.sh
  scripts/detect-secrets-staged.sh
  scripts/dev.sh
  scripts/server-common.sh
  scripts/start-e2e.sh
  tests/author/assignment-overview.spec.ts
  tests/author/assignment-settings.spec.ts
  tests/helpers/assignment-helpers.ts
  tests/helpers/e2e-bootstrap.ts
  tests/helpers/e2e-test.ts
  tests/learner/assignment-start.spec.ts
  tests/learner/learner-homepage.spec.ts
  tests/setup/e2e.setup.ts
  turbo.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, shellcheck

chore: structured logging infrastructure (part 1 of 2) (#312)
  .secrets.baseline
  apps/api-gateway/src/app.module.ts
  apps/api-gateway/src/common/filters/all-exceptions.filter.ts
  apps/api-gateway/src/logger/logger.middleware.spec.ts
  apps/api-gateway/src/logger/logger.middleware.ts
  apps/api-gateway/src/main.ts
  apps/api/package.json
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/attempt/common/strategies/image-grading.strategy.ts
  apps/api/src/api/attempt/common/strategies/url-grading.strategy.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/auth/middleware/user.session.middleware.ts
  apps/api/src/common/common.module.ts
  apps/api/src/common/filters/all-exceptions.filter.ts
  apps/api/src/database/database.module.spec.ts
  apps/api/src/database/prisma.service.spec.ts
  apps/api/src/database/prisma.service.ts
  apps/api/src/health/health.controller.spec.ts
  apps/api/src/health/health.service.spec.ts
  apps/api/src/logger/logger.middleware.ts
  apps/api/src/logger/sanitize.ts
  apps/api/src/main.ts
  apps/web/app/Helpers/fileReader.ts
  apps/web/app/api/markChat/services/reportingService.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/lib/author.ts
  apps/web/lib/learner.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Feat/assignments multifile upload (#303)
  .secrets.baseline
  apps/api/prisma/migrations/20260409144618_add_assignment_files/migration.sql
  apps/api/prisma/migrations/20260413034252_add_assignment_file_extraction/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/tests/admin.service.add-content.spec.ts
  apps/api/src/api/assignment/dto/post.assignment.request.dto.ts
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/modules/assignment.module.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment-file.service.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/api/src/api/attempt/common/interfaces/attempt.interface.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/files/services/s3.service.ts
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/lib/question-generation/__tests__/client.test.ts
  apps/web/lib/question-generation/__tests__/normalize.test.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

chore: structured logging for services and access guards (part 2 of 2) (#313)
  .secrets.baseline
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/logger/sanitize.ts
  apps/api-gateway/src/main.ts
  apps/api-gateway/src/messaging/messaging.module.spec.ts
  apps/api-gateway/src/messaging/messaging.service.spec.ts
  apps/api-gateway/src/messaging/messaging.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/api/src/api/attempt/schedulers/lti-sync-scheduler.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/api/files/guards/auth.guard.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/core/utils/structured-json.util.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/user/guards/chat.access.control.guard.ts
  apps/api/src/auth/guards/admin.guard.ts
  apps/api/src/auth/role/roles.global.guard.ts
  apps/api/src/main.ts
  apps/api/src/messaging/messaging.service.spec.ts
  apps/api/src/messaging/messaging.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix/database-issue (#307)
  apps/api/prisma/migrations/20260414101500_ai_usage_bigint_counters/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.spec.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/core/services/usage-tracking.service.spec.ts
  apps/api/src/api/llm/core/services/usage-tracking.service.ts
  apps/api/src/api/llm/core/utils/ai-usage-counter.util.spec.ts
  apps/api/src/api/llm/core/utils/ai-usage-counter.util.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: adding mc types and creation customization (#314)
  .secrets.baseline
  apps/api/src/api/assignment/dto/post.assignment.request.dto.ts
  apps/api/src/api/assignment/utils/questions-to-generate-caps.util.spec.ts
  apps/api/src/api/assignment/utils/questions-to-generate-caps.util.ts
  apps/api/src/api/assignment/v1/controllers/assignment.controller.spec.ts
  apps/api/src/api/assignment/v1/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/api/src/api/llm/features/question-generation/interfaces/question-generation.interface.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.spec.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
  apps/api/src/api/llm/llm-facade.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/web/app/api/markChat/services/markChatService.ts
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/chatbot/lib/baseFunctionDefs.ts
  apps/web/app/chatbot/store/AuthorStoreBridge.ts
  apps/web/app/chatbot/store/authorStoreUtil.ts
  apps/web/components/FileUploadModal.tsx
  apps/web/config/types.ts
  apps/web/lib/question-generation/__tests__/client.test.ts
  apps/web/lib/question-generation/client.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Update CODEOWNERS (#341)
  CODEOWNERS
Due: yarn secrets:check:staged, yarn format:staged

Tighten input validation and frontend UX guards (#339)
  apps/api/package.json
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
  apps/api/src/api/admin/controllers/dto/dashboard-stats-query.dto.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.spec.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.spec.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/path-sanitizer.spec.ts
  apps/api/src/api/files/services/path-sanitizer.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/auth/admin-auth.module.ts
  apps/api/src/auth/controllers/admin-auth.controller.spec.ts
  apps/api/src/auth/controllers/admin-auth.controller.ts
  apps/api/src/auth/services/admin-verification.service.ts
  apps/api/src/logger/logger.middleware.ts
  apps/web/app/admin/components/AdminLogin.tsx
  apps/web/app/admin/insights/[id]/page.tsx
  apps/web/app/admin/llm-assignments/page.tsx
  apps/web/app/admin/page.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/ReusableSections/SectionWithTitle.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/components/Dropdown.tsx
  apps/web/components/__tests__/Dropdown.test.tsx
  apps/web/lib/admin-session.ts
  apps/web/lib/shared.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

mcq gen relaxation. (#342)
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.spec.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix/title convention UI error (#294)
  apps/web/stores/assignmentFeedbackConfig.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Delete playwright.yml (#344)
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

Increase CI test time (#348)
  apps/api/src/job-queue/job-queue.integration.spec.ts
  apps/api/src/job-queue/job-queue.performance.spec.ts
  apps/api/src/job-queue/job-queue.stress.spec.ts
  apps/api/test/job-queue.e2e-spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged
