Repository misterVKLN/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/web/**/*.{ts,tsx}": ["cd apps/web && yarn lint:staged"],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

Feat/queue tiering part 2 routing (#595)
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/attempt/services/attempt.service.spec.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/job-queue/attempt-tier.spec.ts
  apps/api/src/job-queue/attempt-tier.ts
  apps/web/lib/__tests__/learner.submit-sync.test.ts
  apps/web/lib/learner.ts
  scripts/check-user-scores.js
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Fix/code grading (#597)
  apps/api/prisma/migrations/20260717130000_add_pinned_gpt54_grading_models/migration.sql
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.feedback.spec.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.ts
  apps/api/src/api/attempt/services/structured-content.models.ts
  apps/api/src/api/llm/core/interfaces/prompt-processor.interface.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/core/services/gpt54-llm.service.ts
  apps/api/src/api/llm/core/services/llm-pricing.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/features/grading/interfaces/grading-cache.interface.ts
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/content-summarization.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.spec.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.ts
  apps/api/src/api/llm/features/grading/services/grading-judge.service.ts
  apps/api/src/api/llm/features/grading/services/spreadsheet-used-range.utils.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
  apps/api/src/api/llm/features/grading/utils/learner-feedback.util.spec.ts
  apps/api/src/api/llm/features/grading/utils/learner-feedback.util.ts
  apps/api/src/api/llm/llm.module.ts
  apps/api/src/api/llm/model/file.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/file.based.question.response.model.ts
  apps/api/src/api/llm/model/text.based.question.response.model.ts
  apps/web/components/CollapsibleFeedback.tsx
  apps/web/components/CriterionCard.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix migration-script (#598)
  apps/api/migrate.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

Added proper network policy for mark jobs
  helm-chart/mark-jobs/templates/network-policy.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix(api): widen bare-optional Zod fields for strict structured outputs (#600)
  apps/api-gateway/.eslintrc.cjs
  apps/api/.eslintrc.cjs
  apps/api/src/api/llm/core/services/structured-output.util.spec.ts
  apps/api/src/api/llm/core/services/structured-output.util.ts
  apps/jobs/.eslintrc.cjs
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix/structured output strict optionals (#601)
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix: Added code-aware evidence chunking for code submissions (#605)
  apps/api/src/api/attempt/services/structured-content.models.ts
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.spec.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/source-code.utils.ts
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix suspense loading err (#606)
  apps/web/app/loading.tsx
  apps/web/components/Loading.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Prevent lti-sync-drain CronJob from wedging on sidecar races (#607)
  helm-chart/mark-jobs/Chart.yaml
  helm-chart/mark-jobs/files/lti-sync-drain.js
  helm-chart/mark-jobs/templates/lti-sync-drain-cronjob.yaml
  helm-chart/mark-jobs/values.yaml
  scripts/lti-sync-drain.js
Due: yarn secrets:check:staged, yarn format:staged

Fix helm chart publish workflow
  .github/workflows/helm-chart-publish.yml
Due: yarn secrets:check:staged, yarn format:staged

Fix number-input scroll drift in AI question generation modal (#611)
  apps/web/components/FileUploadModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Fix quantitative question generator producing answers the review pass rejects (#610)
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.spec.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix learner assignment title cache (#612)
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/lib/__tests__/assignment-storage.test.ts
  apps/web/lib/assignment-storage.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Fix false 500 error popups and add report button to error dialogs (#614)
  apps/web/app/error.tsx
  apps/web/app/learner/(components)/Question/PresentationGrader.tsx
  apps/web/app/learner/(components)/Question/VideoPresentationEditor.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/components/ReportBugButton.tsx
  apps/web/components/ReportErrorButton.tsx
  apps/web/components/ReportPreviewModal.tsx
  apps/web/components/__tests__/ErrorPage.test.tsx
  apps/web/lib/__tests__/api-retry.test.ts
  apps/web/lib/__tests__/attempt-fetchers.test.ts
  apps/web/lib/__tests__/ffmpeg-client.test.ts
  apps/web/lib/__tests__/report-client.test.ts
  apps/web/lib/api-retry.ts
  apps/web/lib/author.ts
  apps/web/lib/ffmpeg-client.ts
  apps/web/lib/learner.ts
  apps/web/lib/report-client.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: unbreak assignments whose subset count exceeds their pool (#613)
  apps/api/src/api/assignment/utils/questions-per-attempt.util.spec.ts
  apps/api/src/api/assignment/utils/questions-per-attempt.util.ts
  apps/api/src/api/assignment/v2/services/__tests__/version-management.service.spec.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/Helpers/__tests__/questionsPerAttemptClamp.test.ts
  apps/web/app/Helpers/checkQuestionsReady.ts
  apps/web/app/Helpers/questionsPerAttemptClamp.ts
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionOrder.tsx
  apps/web/app/author/[assignmentId]/review/__tests__/validationMessage.test.ts
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/author/[assignmentId]/review/validationMessage.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix: auto-link assignment groups from signed launch sessions (#617)
  apps/api/src/api/assignment/guards/assignment.access.control.guard.spec.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: grading progress delivery, GitHub URL grading, and autosave hardening (#623)
  apps/api/.env.template
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.fetch.spec.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/attempt/common/strategies/__tests__/url-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/url-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/github-content-fetch.util.spec.ts
  apps/api/src/api/attempt/common/utils/github-content-fetch.util.ts
  apps/api/src/api/attempt/common/utils/github-rate-limit-detection.util.spec.ts
  apps/api/src/api/attempt/common/utils/github-rate-limit-detection.util.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/grading-progress.service.spec.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.url-fetch.spec.ts
  apps/api/src/api/llm/features/grading/errors/github-rate-limited.error.spec.ts
  apps/api/src/api/llm/features/grading/errors/github-rate-limited.error.ts
  apps/api/src/config/github-grading-token.spec.ts
  apps/api/src/config/github-grading-token.ts
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/__tests__/Timer.test.tsx
  apps/web/app/learner/(components)/__tests__/GradingProgressModal.test.tsx
  apps/web/app/learner/(components)/__tests__/Header.test.tsx
  apps/web/hooks/__tests__/use-auto-save-response.test.ts
  apps/web/hooks/use-auto-save-response.ts
  apps/web/lib/__tests__/grading-stream-watchdog.test.ts
  apps/web/lib/__tests__/learner.submit-question.test.ts
  apps/web/lib/__tests__/learner.submit-watchdog.test.ts
  apps/web/lib/grading-stream-watchdog.ts
  apps/web/lib/learner.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix: settings not saving on default (#626)
  apps/web/stores/__tests__/author.test.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: fallback questions on mc subtypes (#625)
  .secrets.baseline
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.spec.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

uni: rebrand to UNI-Test + Windows CRLF fix for container entrypoints
  apps/api/Dockerfile
  apps/web/Dockerfile
  apps/web/app/favicon.ico
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/SNIcon.tsx
  apps/web/public/logo.png
  apps/web/tailwind.config.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged, hadolint

uni: stop rendering the bug-report button
  apps/web/components/LayoutContent.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix(scripts): export the whole dev.env, not just the postgres vars
  scripts/start-db.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

uni: remap purple and indigo to sky as well
  apps/web/tailwind.config.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: extract source files inside uploaded archives (#630)
  .secrets.baseline
  apps/api/src/api/attempt/common/interfaces/attempt.interface.ts
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.ts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/__tests__/fixtures/fixture-xcode.zip
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/structured-content.models.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.archive.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: admin dashboard 403 when the browser holds a non-admin session (#632)
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: refresh OpenAI model pricing to official standard-tier rates (#634)
  apps/api/prisma/migrations/20260818090000_refresh_openai_pricing/migration.sql
Due: yarn secrets:check:staged, yarn format:staged

fix: remove redundant grading throbber from the learner progress modal (#636)
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/(components)/__tests__/GradingProgressModal.test.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix(deps): remediate Mend-reported CVEs across the dependency tree (#635)
  apps/api-gateway/package.json
  apps/api/package.json
  apps/jobs/package.json
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(deps): clear the remaining Mend security check findings (#638)
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(deps): resolve open Dependabot alerts via transitive refresh (#639)
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix: surface learner notebook code to the evidence grader (#640)
  .secrets.baseline
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.notebook-sections.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix/doc evidence sections (#641)
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.citation.spec.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.spec.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/source-code.utils.ts
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix/upload stall fallback (#642)
  apps/api/src/api/files/dto/upload.dto.ts
  apps/api/src/api/files/files.controller.spec.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/files.module.ts
  apps/api/src/api/files/guards/user-throttler.guard.ts
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/components/FileUploader.tsx
  apps/web/lib/__tests__/upload-fallback.test.ts
  apps/web/lib/__tests__/uploadTransport.test.ts
  apps/web/lib/reliableUpload.ts
  apps/web/lib/shared.ts
  apps/web/lib/uploadTransport.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix: grade image submissions from the image, not OCR snippets (#643)
  apps/api/src/api/llm/core/interfaces/llm-provider.interface.ts
  apps/api/src/api/llm/core/interfaces/prompt-processor.interface.ts
  apps/api/src/api/llm/core/services/gpt-oss-120b-llm-service.ts
  apps/api/src/api/llm/core/services/gpt5-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-nano-llm.service.ts
  apps/api/src/api/llm/core/services/granite-4-h-small-llm-service.ts
  apps/api/src/api/llm/core/services/granite-vision-3-2-2b-llm-service.ts
  apps/api/src/api/llm/core/services/llama-3-3-70b-instruct-llm-service.ts
  apps/api/src/api/llm/core/services/llama-4-maverick-llm-service.ts
  apps/api/src/api/llm/core/services/llm-provider-multi-image.spec.ts
  apps/api/src/api/llm/core/services/mistral-medium-2505-llm-service.ts
  apps/api/src/api/llm/core/services/openai-effort-none-llm.base.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm-vision.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/core/utils/multimodal-image.util.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-grading-criteria-based.spec.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.vision.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: grade all-image uploads with the vision strategy regardless of responseType (#644)
  apps/api/src/api/attempt/common/strategies/image-grading.strategy.ts
  apps/api/src/api/attempt/services/__tests__/grading-factory.service.spec.ts
  apps/api/src/api/attempt/services/grading-factory.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

uni: remove all third-party telemetry
  apps/api-gateway/package.json
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/app.module.ts
  apps/api-gateway/src/main.ts
  apps/api-gateway/src/messaging/messaging.module.spec.ts
  apps/api-gateway/src/messaging/messaging.module.ts
  apps/api-gateway/src/messaging/messaging.service.spec.ts
  apps/api-gateway/src/messaging/messaging.service.ts
  apps/api/package.json
  apps/api/src/api/api.service.ts
  apps/api/src/api/report/report.module.ts
  apps/api/src/api/report/services/flo.service.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/report/types/report.types.ts
  apps/api/src/app.module.ts
  apps/api/src/main.ts
  apps/api/src/messaging/messaging.module.ts
  apps/api/src/messaging/messaging.service.spec.ts
  apps/api/src/messaging/messaging.service.ts
  apps/jobs/package.json
  apps/jobs/src/instrumentation/instana-job-tracing.spec.ts
  apps/jobs/src/instrumentation/instana-job-tracing.ts
  apps/jobs/src/job-worker.service.ts
  apps/jobs/src/main.ts
  apps/web/app/api/markChat/lib/flo/messaging.ts
  apps/web/app/layout.tsx
  apps/web/components/LayoutContent.tsx
  apps/web/next.config.js
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged
