Repository misterVKLN/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/web/**/*.{ts,tsx}": ["cd apps/web && yarn lint:staged"],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

Fix/progress wheel lag (#346)
  .secrets.baseline
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/job-queue/job-state.service.ts
  apps/api/src/job-queue/job-state.types.ts
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/__tests__/useCreepingProgress.test.ts
  apps/web/app/learner/(components)/useCreepingProgress.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

feat(admin): server-side pagination/sort/filter for assignment analytics (#528)
  apps/api/prisma/migrations/20260520000000_add_aiusage_analytics_index/migration.sql
  apps/api/prisma/migrations/20260520000001_add_assignmentattempt_analytics_index/migration.sql
  apps/api/prisma/migrations/20260520000002_add_questionresponse_analytics_index/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
  apps/api/src/api/llm/core/services/llm-pricing.service.calculate-cost-batch.spec.ts
  apps/api/src/api/llm/core/services/llm-pricing.service.ts
  apps/web/app/admin/components/AdminDashboard.tsx
  apps/web/app/admin/components/AssignmentAnalyticsTable.tsx
  apps/web/app/admin/components/OptimizedAdminDashboard.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/StepTwo/ConfigGroups.tsx
  apps/web/components/insights/AssignmentInsightsContent.tsx
  apps/web/lib/shared.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Advertising (#536)
  apps/web/.env.template
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/app/learner/layout.tsx
  apps/web/components/promo/PromoBanner.tsx
  apps/web/components/promo/PromoProvider.tsx
  apps/web/config/promo.ts
  apps/web/env.d.ts
  apps/web/public/promo/Bob.svg
  apps/web/public/promo/Hashicorp.png
  apps/web/public/promo/Instana.webp
  apps/web/public/promo/watsonX-Orchestrate.svg
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Fix/translation timeout auto retry (#538)
  .secrets.baseline
  apps/api/src/api/assignment/v2/services/translation.service.partial-failure.spec.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/llm/core/interfaces/llm-provider.interface.ts
  apps/api/src/api/llm/core/services/gpt5-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-nano-llm.service.ts
  apps/api/src/api/llm/core/services/llm-provider-request-options.spec.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm-vision.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.spec.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/features/translation/services/translation.service.llm-timeout.spec.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
  apps/api/src/job-queue/job-executor.service.spec.ts
  apps/api/src/job-queue/job-executor.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix quiz config hydration (#534)
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/SaveAndPublishButton.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/author/utils/__tests__/assignmentHydration.test.ts
  apps/web/app/author/utils/assignmentHydration.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/app/learner/utils/__tests__/authorPreview.test.ts
  apps/web/app/learner/utils/authorPreview.ts
  apps/web/config/promo.ts
  apps/web/config/types.ts
  apps/web/lib/__tests__/assignment-storage.test.ts
  apps/web/lib/__tests__/strings.test.ts
  apps/web/lib/assignment-storage.ts
  apps/web/lib/strings.ts
  apps/web/public/promo/watsonX-Data.svg
  apps/web/stores/__tests__/author.test.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/assignmentFeedbackConfig.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

feat(reports): add gateway-authenticated admin renewal-email endpoint (#543)
  .secrets.baseline
  apps/api-gateway/src/api/api.service.ts
  apps/api/src/api/report/controllers/admin-report.controller.spec.ts
  apps/api/src/api/report/controllers/admin-report.controller.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/report.module.ts
  apps/api/src/api/report/services/report.service.spec.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/report/types/report.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Fix/dependency security audit master (#546)
  apps/api-gateway/package.json
  apps/api/package.json
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

Fix/dependency security round2 (#552)
  apps/api-gateway/src/api/api.service.spec.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api/package.json
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/attempt/common/strategies/url-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.spec.ts
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/__tests__/MarkDownEditor.test.tsx
  apps/web/components/__tests__/MarkdownViewer.test.tsx
  apps/web/components/version-control/VersionTreeView.tsx
  apps/web/lib/sanitize-html.ts
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Fix/mark jobs instana fix (#554)
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/llm/core/interfaces/llm-provider.interface.ts
  apps/api/src/api/llm/core/interfaces/prompt-processor.interface.ts
  apps/api/src/api/llm/core/services/gpt5-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.spec.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-nano-llm.service.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.spec.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm-vision.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.spec.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.spec.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/core/services/structured-output.util.spec.ts
  apps/api/src/api/llm/core/services/structured-output.util.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): compact sparse full-grid XLSX so they grade instead of stalling (#555)
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/llm/features/grading/constants.spec.ts
  apps/api/src/api/llm/features/grading/constants.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/spreadsheet-used-range.utils.spec.ts
  apps/api/src/api/llm/features/grading/services/spreadsheet-used-range.utils.ts
  apps/api/src/job-queue/job-state.service.spec.ts
  apps/api/src/job-queue/job-state.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

more useful scripts (#557)
  scripts/check-submissions.js
  scripts/check-submissions.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

feat: simplify learner textboxes (#537)
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/globals.css
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/__tests__/TextQuestion.test.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/version-control/VersionTreeView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix(github): make OAuth token exchange resilient to transient transport failures (#559)
  apps/api/src/api/github/github.module.ts
  apps/api/src/api/github/github.service.spec.ts
  apps/api/src/api/github/github.service.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(admin): add force-pass endpoint and UI to manually pass a learner attempt (#558)
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/attempt-admin.controller.ts
  apps/api/src/api/admin/dto/force-pass-attempt.dto.ts
  apps/api/src/api/admin/services/attempt-admin.service.spec.ts
  apps/api/src/api/admin/services/attempt-admin.service.ts
  apps/web/components/insights/AssignmentInsightsContent.tsx
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

consolidate fixes and features from PRs #560–#564 (#565)
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/components/AccessRestricted.tsx
  apps/web/lib/api-client.ts
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

removed line that drops system context (#567)
  apps/web/app/chatbot/store/useMarkChatStore.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: question reclassification error (#510)
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.spec.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

prettier (#578)
  apps/api/src/api/attempt/common/strategies/__tests__/file-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/image-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.spec.ts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/api/github/github.service.spec.ts
  apps/api/src/api/github/github.service.ts
  apps/api/src/api/llm/core/services/structured-output.util.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-format-preflight.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-grading-criteria-based.spec.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.ts
  apps/api/src/api/report/controllers/admin-report.controller.spec.ts
  apps/api/src/api/report/controllers/admin-report.controller.ts
  apps/api/src/job-queue/job-state.service.ts
  apps/web/app/author/(components)/Header/SaveAndPublishButton.tsx
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/utils/__tests__/authorPreview.test.ts
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/__tests__/MarkDownEditor.test.tsx
  apps/web/config/promo.ts
  apps/web/lib/__tests__/assignment-storage.test.ts
  apps/web/stores/assignmentFeedbackConfig.ts
  scripts/check-submissions.js
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix: doc title upload (#569)
  .secrets.baseline
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix: multi-select boosts learner grades (#577)
  apps/api/src/api/attempt/common/strategies/__tests__/choice-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix: reject publishing assignments whose numberOfQuestionsPerAttempt exceeds the question pool (#582)
  .secrets.baseline
  apps/api/src/api/assignment/v2/services/__tests__/version-management.service.spec.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Feat/lti sync drain chart (#553)
  .husky/pre-commit
  helm-chart/mark-jobs/Chart.yaml
  helm-chart/mark-jobs/files/lti-sync-drain.js
  helm-chart/mark-jobs/templates/lti-sync-drain-configmap.yaml
  helm-chart/mark-jobs/templates/lti-sync-drain-cronjob.yaml
  helm-chart/mark-jobs/values.yaml
  scripts/check-drain-script-sync.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

fix(chat): collect tool results across all steps so report dialogs open again
  apps/api/src/api/user/services/chat-tool-results.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/api/src/api/user/tests/unit/services/chat-tool-results.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(reports): use the standard issue template for orphan-report backfill
  apps/api/src/api/report/helpers/issue-template.spec.ts
  apps/api/src/api/report/helpers/issue-template.ts
  apps/api/src/api/report/services/report.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(web): floating flag button to report bugs from any screen
  apps/web/components/LayoutContent.tsx
  apps/web/components/ReportBugButton.tsx
  apps/web/components/__tests__/ReportBugButton.test.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat(llm): log every AI invocation with model, purpose, prompt, and response (#586)
  apps/api/src/api/llm/core/services/moderation.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.spec.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/core/utils/ai-invocation-log.util.spec.ts
  apps/api/src/api/llm/core/utils/ai-invocation-log.util.ts
  apps/api/src/api/user/services/mark-chat.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix/stale auth cookie dedup (#583)
  .secrets.baseline
  apps/api-gateway/src/api/api.service.comprehensive.spec.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(attempt): show the grade in author preview when learner score is hidden (#587)
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/lib/__tests__/gradeDisplay.test.ts
  apps/web/lib/gradeDisplay.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Randomize preview choices (#585)
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Normalize random subset counts (#584)
  apps/web/app/Helpers/checkQuestionsReady.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionOrder.tsx
  apps/web/config/types.ts
  apps/web/stores/assignmentConfig.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix(learner): remove percent readout from grading progress wheel (#589)
  apps/web/app/learner/(components)/GradingProgressModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Fix/awb toast preview 403 (#590)
  apps/web/app/api/markChat/services/markChatService.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/components/MarkChatToggleButton.tsx
  apps/web/hooks/useChatbot.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Feat/queue tiering part 1 workers (#591)
  apps/api/src/api/admin/services/queue-status.service.spec.ts
  apps/api/src/api/admin/services/queue-status.service.ts
  apps/api/src/job-queue/job-executor.service.heavy-queue.spec.ts
  apps/api/src/job-queue/job-executor.service.ts
  apps/api/src/job-queue/job-queue.constants.ts
  apps/api/src/job-queue/job-queue.service.priorities.spec.ts
  apps/api/src/job-queue/job-queue.service.ts
  apps/api/src/job-queue/queue-metadata.coverage.spec.ts
  apps/api/src/job-queue/queue-metadata.ts
  apps/jobs/src/job-queue-constants-sync.spec.ts
  apps/jobs/src/job-queue.constants.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  helm-chart/mark-jobs/Chart.yaml
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

oops all tests! (#592)
  apps/api/src/api/admin/services/queue-status.service.spec.ts
  apps/api/src/api/admin/services/queue-status.service.ts
  apps/api/src/job-queue/job-queue.service.queue-status.spec.ts
  apps/api/src/job-queue/job-queue.service.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(attempt): author preview mirrors learner score visibility (#588)
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/lib/__tests__/gradeDisplay.test.ts
  apps/web/lib/gradeDisplay.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix(grading): downscale oversized images so PNG screenshots aren't re… (#593)
  apps/api/src/api/llm/features/grading/services/__tests__/image-format-preflight-real-sharp.spec.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.ts
  apps/web/app/learner/(components)/Question/FileUploadSection.tsx
  scripts/check-user-scores.js
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix: scope attempt score denominator to served questions (#594)
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged
