Repository misterVKLN/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

Fix/api pdf extraction resilience (#347)
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix/chatbot settings and refresh fix (#297)
  .secrets.baseline
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/chatbot/components/UserReportsPanel.tsx
  apps/web/app/chatbot/store/useMarkChatStore.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

stop asking for help! (#352)
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/components/LayoutContent.tsx
  apps/web/components/MarkChatToggleButton.tsx
  apps/web/components/version-control/BottomVersionBar.tsx
  apps/web/hooks/useMarkSpeech.ts
  apps/web/hooks/useUserBehaviorMonitor.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: increased file upload limits and chatbot supports file upload (#284)
  .secrets.baseline
  apps/api/prisma/migrations/20260422152403_add_assignment_file_multipart_state/migration.sql
  apps/api/prisma/migrations/20260513200000_add_file_upload_tracking/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/dtos/assignment-file-upload.dto.spec.ts
  apps/api/src/api/assignment/v2/dtos/assignment-file-upload.dto.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/tests/unit/controllers/assignment.controller.auth.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment-file.service.spec.ts
  apps/api/src/api/files/dto/upload.dto.spec.ts
  apps/api/src/api/files/dto/upload.dto.ts
  apps/api/src/api/files/file-processing-budget.module.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/files.module.ts
  apps/api/src/api/files/services/file-processing-budget.service.ts
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/s3.service.spec.ts
  apps/api/src/api/files/services/s3.service.ts
  apps/api/src/api/scheduled-tasks/services/scheduled-tasks.service.ts
  apps/api/src/api/user/controllers/chat.controller.ts
  apps/api/src/api/user/dto/add-chat-message.dto.ts
  apps/api/src/api/user/modules/chat.module.ts
  apps/api/src/api/user/services/chat-file-attachments.ts
  apps/api/src/api/user/services/chat.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/api/src/api/user/tests/unit/services/chat.service.spec.ts
  apps/api/src/app.module.ts
  apps/api/src/job-queue/job-queue.integration.spec.ts
  apps/web/app/api/markChat/services/markChatService.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/chatbot/store/useMarkChatStore.ts
  apps/web/app/learner/(components)/Question/FileUploadSection.tsx
  apps/web/components/FileUploader.tsx
  apps/web/config/types.ts
  apps/web/lib/api-client.ts
  apps/web/lib/reliableUpload.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Chore/ CI Turbo Charge (#349)
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

chore: unify all services on Node 24 LTS (#351)
  .github/workflows/build-images.yml
  .nvmrc
  apps/api-gateway/Dockerfile
  apps/api-gateway/package.json
  apps/api/package.json
  apps/api/tsconfig.json
  apps/jobs/package.json
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix: stop report routes from hanging on NATS and exhausting Prisma pool (#353)
  .secrets.baseline
  apps/api/src/api/report/services/flo.service.ts
  apps/api/src/api/report/services/report.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(files): observability for upload-processing budget (#354)
  .secrets.baseline
  apps/api/prisma/migrations/20260514000000_add_file_upload_status_size/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/file-processing-budget.service.ts
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: replace biased sort shuffle with Fisher-Yates and decouple rando… (#356)
  .secrets.baseline
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Ci/skip redundant cache and scans (#358)
  .github/workflows/build-images.yml
  apps/api-gateway/Dockerfile
  apps/api/Dockerfile
  apps/jobs/Dockerfile
  apps/web/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

feat(api): add admin wrappers for assignment file upload and question… (#359)
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/tests/admin.service.add-content.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(helm): default ENABLE_PARALLEL_GRADING=false on mark-jobs chart (#371)
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix(files): let authors and admins access file routes for their assig… (#357)
  apps/api/src/api/files/guards/auth.guard.spec.ts
  apps/api/src/api/files/guards/auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix/feedback UI fixes. (#432)
  apps/api/.env.template
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/jobs/.env.template
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  apps/web/app/author/(components)/Header/PublishProgress.tsx
  apps/web/app/author/(components)/Header/PublishStatus.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  helm-chart/mark-jobs/values.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Fix frontend instana loading (#440)
  apps/web/.env.template
  apps/web/app/layout.tsx
  apps/web/env.d.ts
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

chore(deps): dependabot monthly cadence, ignore major bumps (#429)
  .github/dependabot.yml
Due: yarn secrets:check:staged, yarn format:staged

Hotfix mark2 2 3 (#479)
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): avoid RangeError on large file uploads
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix/lti sync fix (#480)
  apps/api-gateway/src/messaging/messaging.service.ts
  apps/api/prisma/seed.ts
  apps/api/src/api/files/guards/auth.guard.ts
  apps/api/src/api/files/services/s3.service.spec.ts
  apps/api/src/api/files/services/s3.service.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm-vision.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/web/app/author/(components)/Header/PublishStatus.tsx
  apps/web/app/layout.tsx
  helm-chart/mark-jobs/Chart.yaml
  helm-chart/mark-jobs/templates/configmap.yaml
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(lti-sync): expand retry schedule to recover more transient failures (#484)
  apps/api/src/api/attempt/lti-sync.module.ts
  apps/api/src/api/attempt/services/lti-grade-sync.integration.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
  apps/api/tsconfig.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

A collection of useful scripts (#486)
  scripts/lti-sync-diagnose.js
  scripts/lti-sync-drain.js
  scripts/lti-sync-error-detail.js
  scripts/lti-sync-probe-batch.js
  scripts/lti-sync-probe.js
Due: yarn secrets:check:staged, yarn format:staged

fix(jobs): use relative path for shared tsconfig extends
  apps/jobs/tsconfig.json
Due: yarn secrets:check:staged, yarn format:staged

Force LTI url to be required
  helm-chart/mark-jobs/templates/configmap.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: add admin assignment publish endpoint (#490)
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Large file protections (#489)
  .secrets.baseline
  apps/api/src/api/attempt/attempt.module.ts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/__tests__/pdf-structure-extractor.cap.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
  apps/api/src/api/llm/features/grading/__tests__/constants.spec.ts
  apps/api/src/api/llm/features/grading/constants.ts
  apps/api/src/api/llm/features/grading/errors/oversized-submission.error.ts
  apps/api/src/api/llm/features/grading/services/__tests__/oversized-submission.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  apps/web/components/GradeSyncStatus.tsx
  helm-chart/mark-jobs/values.yaml
  scripts/generate-poison-files.js
  scripts/lti-sync-check.sh
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, shellcheck

Frontend gatorade (#495)
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/__tests__/Timer.test.tsx
  apps/web/app/learner/(components)/__tests__/Header.test.tsx
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/components/AccessRestricted.tsx
  apps/web/components/ErrorModal.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/components/LearnerNotice.tsx
  apps/web/components/SessionExpired.tsx
  apps/web/components/__tests__/AccessRestricted.test.tsx
  apps/web/components/__tests__/ErrorPage.test.tsx
  apps/web/components/__tests__/SessionExpired.test.tsx
  apps/web/hooks/use-assignment-id.ts
  apps/web/jest.config.js
  apps/web/lib/__tests__/error-screen.test.tsx
  apps/web/lib/error-screen.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Fix/grading worker stability (#499)
  .secrets.baseline
  apps/api/src/api/attempt/common/strategies/__tests__/url-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/url-grading.strategy.ts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/__tests__/pdf-structure-extractor.image-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
  apps/jobs/src/main.ts
  apps/jobs/src/pdfjs-version.spec.ts
  apps/jobs/src/process-safety.spec.ts
  apps/jobs/src/process-safety.ts
  helm-chart/mark-jobs/values.yaml
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: Made E2E Playwright Tests Workflow Functional (#504)
  .github/workflows/build-images.yml
  .secrets.baseline
  apps/api-gateway/package.json
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/auth/services/admin-email.service.ts
  apps/api/tsconfig.json
  apps/web/.eslintrc.cjs
  local-test/api.Dockerfile
  package.json
  playwright.config.ts
  scripts/server-common.sh
  scripts/start-e2e.sh
  tests/author/assignment-settings.spec.ts
  tests/helpers/e2e-bootstrap.ts
  tests/learner/assignment-start.spec.ts
  tests/learner/learner-homepage.spec.ts
  tests/setup/e2e.setup.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, hadolint, shellcheck

modest timeout bump (#509)
  apps/api/src/api/attempt/services/lti-grade-sync.integration.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Feat/instana jobs integration (#511)
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/controllers/queue-status.controller.spec.ts
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/api/src/api/admin/services/queue-status.service.spec.ts
  apps/api/src/api/admin/services/queue-status.service.ts
  apps/api/src/job-queue/job-domain-ids.ts
  apps/api/src/job-queue/job-queue.module.ts
  apps/api/src/job-queue/job-queue.service.queue-status.spec.ts
  apps/api/src/job-queue/job-queue.service.ts
  apps/api/src/job-queue/job-worker-connection.queue-status.spec.ts
  apps/api/src/job-queue/job-worker-connection.service.ts
  apps/jobs/.env.template
  apps/jobs/package.json
  apps/jobs/src/instrumentation/instana-job-tracing.spec.ts
  apps/jobs/src/instrumentation/instana-job-tracing.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  apps/jobs/src/main.ts
  apps/web/app/admin/components/FailedJobsDialog.tsx
  apps/web/app/admin/components/QueueCard.tsx
  apps/web/app/admin/components/QueueStatusDashboard.tsx
  apps/web/app/admin/components/WorkersTable.tsx
  apps/web/app/admin/components/__tests__/QueueStatusDashboard.test.tsx
  apps/web/app/admin/queues/page.tsx
  apps/web/hooks/__tests__/useQueueStatus.test.tsx
  apps/web/hooks/useQueueStatus.ts
  apps/web/lib/shared.ts
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix(web): wrap /admin/queues page in QueryClientProvider (#514)
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/web/app/admin/queues/__tests__/page.test.tsx
  apps/web/app/admin/queues/page.tsx
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

feat(admin): expand /admin/queues into a full ops console
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/controllers/queue-status.controller.spec.ts
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/api/src/api/admin/services/queue-status.service.spec.ts
  apps/api/src/api/admin/services/queue-status.service.ts
  apps/api/src/job-queue/job-file-refs.spec.ts
  apps/api/src/job-queue/job-file-refs.ts
  apps/api/src/job-queue/job-queue.service.ts
  apps/api/src/job-queue/job-worker-connection.service.ts
  apps/api/src/job-queue/queue-metadata.ts
  apps/jobs/src/job-worker.service.ts
  apps/web/app/admin/components/ActiveJobsDialog.tsx
  apps/web/app/admin/components/AdminDashboard.tsx
  apps/web/app/admin/components/FailedJobsDialog.tsx
  apps/web/app/admin/components/QueueCard.tsx
  apps/web/app/admin/components/QueueStatusDashboard.tsx
  apps/web/app/admin/components/RedisHealthStrip.tsx
  apps/web/app/admin/components/Sparkline.tsx
  apps/web/app/admin/components/__tests__/ActiveJobsDialog.test.tsx
  apps/web/app/admin/components/__tests__/FailedJobsDialog.test.tsx
  apps/web/app/admin/components/__tests__/QueueStatusDashboard.test.tsx
  apps/web/app/admin/components/__tests__/Sparkline.test.tsx
  apps/web/app/admin/queues/__tests__/failed-jobs-fetch.test.tsx
  apps/web/app/admin/queues/__tests__/page.test.tsx
  apps/web/hooks/__tests__/useQueueStatus.test.tsx
  apps/web/hooks/useQueueStatus.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Feat/admin queues details (#516)
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/web/hooks/useQueueStatus.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

chore: small ui improvements (#515)
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/Nav.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/ReusableSections/SectionWithTitle.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentFeedback.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionControls.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionDisplay.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionOrder.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentRetakeAttempts.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentType.tsx
  apps/web/app/author/(components)/StepTwo/ConfigGroups.tsx
  apps/web/app/author/[assignmentId]/config/page.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/globals.css
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Fix/admin routes admin only (#519)
  .secrets.baseline
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/tests/unit/controllers/assignment.controller.auth.spec.ts
  apps/api/src/api/attempt/services/__tests__/pdf-structure-extractor.cap.spec.ts
  apps/api/src/auth/guards/admin.guard.spec.ts
  apps/api/src/auth/guards/admin.guard.ts
  apps/api/src/auth/services/admin-email.service.ts
  apps/api/src/auth/services/admin-verification.service.ts
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/[assignmentId]/insights/page.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/components/__tests__/ErrorPage.test.tsx
  apps/web/components/insights/AssignmentInsightsContent.tsx
  apps/web/lib/error-screen.tsx
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Fix/2.2.11 review findings (#522)
  apps/api/src/api/admin/controllers/queue-status.controller.spec.ts
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/api/src/api/admin/services/queue-status.service.spec.ts
  apps/api/src/api/admin/services/queue-status.service.ts
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/services/__tests__/version-management.service.spec.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/controllers/assignment.controller.auth.spec.ts
  apps/api/src/api/attempt/services/attempt-access-cache.service.spec.ts
  apps/api/src/api/attempt/services/attempt-access-cache.service.ts
  apps/api/src/job-queue/job-queue.service.spec.ts
  apps/api/src/job-queue/job-queue.service.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  apps/web/app/admin/components/ActiveJobsDialog.tsx
  apps/web/app/admin/components/__tests__/ActiveJobsDialog.test.tsx
  apps/web/app/admin/queues/__tests__/failed-jobs-fetch.test.tsx
  apps/web/components/insights/AssignmentInsightsContent.tsx
  apps/web/hooks/__tests__/useQueueStatus.test.tsx
  apps/web/hooks/useQueueStatus.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix(admin): stop /admin analytics from starving the Postgres pool (#527)
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/web/app/admin/components/AssignmentAnalyticsTable.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

useful scripts (#529)
  helm-chart/mark/templates/network-policies.yaml
  scripts/lti-sync-by-destination.js
  scripts/lti-sync-check.sh
  scripts/lti-sync-lookup.js
  scripts/lti-sync-snapshot.js
  scripts/lti-sync-urls.js
  scripts/lti-sync-waiting.js
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
