Repository misterVKLN/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

Create LICENSE
  LICENSE
Due: yarn secrets:check:staged, yarn format:staged

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: yarn secrets:check:staged, yarn format:staged

Issue 1::Refactor code (#101)
  apps/web/app/author/(components)/(questionComponents)/CriteriaTable.tsx
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/author/(components)/(questionComponents)/RubricSwitcher.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/Nav.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentType.tsx
  apps/web/app/author/(components)/WarningBeforeUnload.tsx
  apps/web/app/learner/(components)/Question/FileLinkUploadSection.tsx
  apps/web/app/learner/(components)/Question/FileUploadSection.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

refactor imports and code
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/feedback.request.dto.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/update.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/assignment/v1/controllers/assignment.controller.ts
  apps/api/src/api/attempt/common/strategies/abstract-grading.strategy.ts
  apps/web/components/MarkDownEditor.tsx
  apps/web/lib/learner.ts
  apps/web/lib/utils.ts
  apps/web/stores/appConfig.ts
  apps/web/stores/assignmentFeedbackConfig.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

refactor imports and code (#102)
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/feedback.request.dto.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/update.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/assignment/v1/controllers/assignment.controller.ts
  apps/api/src/api/attempt/common/strategies/abstract-grading.strategy.ts
  apps/web/components/MarkDownEditor.tsx
  apps/web/lib/learner.ts
  apps/web/lib/utils.ts
  apps/web/stores/appConfig.ts
  apps/web/stores/assignmentFeedbackConfig.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

question generation type fix
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-validator.service.ts
  apps/web/app/Helpers/checkQuestionsReady.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

feat: Authors can now configure quesition level control over copying, pasting and printing (#206)
  .secrets.baseline
  .tool-versions
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/prisma/migrations/20251112211321_add_question_controls/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/common/interceptors/serialize-dates.interceptor.ts
  apps/api/src/main.ts
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/ImportModal.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionControls.tsx
  apps/web/app/author/(components)/__tests__/ImportModal.xlsx.integration.test.tsx
  apps/web/app/author/[assignmentId]/config/page.tsx
  apps/web/app/globals.css
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/SecurityMonitor.tsx
  apps/web/app/learner/(components)/__tests__/SecurityMonitor.test.tsx
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/MarkdownViewer.tsx
  apps/web/config/constants.ts
  apps/web/config/types.ts
  apps/web/jest.config.js
  apps/web/jest.setup.js
  apps/web/package.json
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/learner.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

ref: changing question control wordings and some logic
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionControls.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/SecurityMonitor.tsx
  apps/web/app/learner/(components)/__tests__/SecurityMonitor.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/config/types.ts
  apps/web/stores/assignmentConfig.ts
  docker-compose.yml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

testing workflow with no cache
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

feat: author view only comment box for questions (#186)
  .secrets.baseline
  apps/api/prisma/migrations/20251021142334_add_author_comment_to_question/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/repositories/question.repository.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/config/types.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix: update float (#213)
  .secrets.baseline
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/src/api/attempt/common/strategies/__tests__/choice-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-validator.service.ts
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

reset mock
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

formatting
  SETUP.md
  apps/api/prisma/seed.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix choices issue
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
  apps/api/src/api/llm/llm-facade.service.ts
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

update helm chart version
  helm-chart/mark/Chart.lock
  helm-chart/mark/Chart.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: handle unauthorized user in server components (#222)
  apps/api-gateway/src/api/api.service.ts
  apps/api/src/api/api.controller.ts
  apps/api/src/auth/middleware/user.session.middleware.ts
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

chore: sort translated languages list (#227)
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: add content to assignment controller (#210)
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/assignment/add.content.to.assignment.request.dto.ts
  apps/api/src/api/admin/tests/admin.service.add-content.spec.ts
  apps/api/src/app.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix: allotted time deletion and strict time limit validation (#232)
  apps/web/app/Helpers/checkQuestionsReady.ts
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/config/types.ts
  apps/web/stores/assignmentConfig.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix admin content api
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/assignment/add.content.to.assignment.request.dto.ts
  apps/api/src/api/admin/tests/admin.service.add-content.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: images not appearing bug in translation
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix ukrainian translation (#243)
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Feat - Trigger translation flow on /content api (#245)
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/tests/admin.service.add-content.spec.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/scheduled-tasks/scheduled-tasks.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

hot-fix: choices filtering null issue
  apps/web/app/learner/(components)/Question/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

test: update api-gateway tests (#253)
  .secrets.baseline
  apps/api-gateway/.eslintrc.cjs
  apps/api-gateway/src/api/api.controller.spec.ts
  apps/api-gateway/src/api/api.service.comprehensive.spec.ts
  apps/api-gateway/src/api/api.service.spec.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/app.module.spec.ts
  apps/api-gateway/src/app.service.spec.ts
  apps/api-gateway/src/auth/auth.module.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/jwt.config.service.spec.ts
  apps/api-gateway/src/health/health.module.spec.ts
  apps/api-gateway/src/logger/config.spec.ts
  apps/api-gateway/src/logger/logger.middleware.spec.ts
  apps/api-gateway/src/messaging/messaging.module.spec.ts
  apps/api-gateway/src/messaging/messaging.service.spec.ts
  apps/api-gateway/src/routes.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Revert "test: update api-gateway tests (#253)" (#254)
  .secrets.baseline
  apps/api-gateway/.eslintrc.cjs
  apps/api-gateway/src/api/api.controller.spec.ts
  apps/api-gateway/src/api/api.service.comprehensive.spec.ts
  apps/api-gateway/src/api/api.service.spec.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/app.module.spec.ts
  apps/api-gateway/src/app.service.spec.ts
  apps/api-gateway/src/auth/auth.module.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/jwt.config.service.spec.ts
  apps/api-gateway/src/health/health.module.spec.ts
  apps/api-gateway/src/logger/config.spec.ts
  apps/api-gateway/src/logger/logger.middleware.spec.ts
  apps/api-gateway/src/messaging/messaging.module.spec.ts
  apps/api-gateway/src/messaging/messaging.service.spec.ts
  apps/api-gateway/src/routes.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

test: update api-gateway tests (#255)
  .secrets.baseline
  apps/api-gateway/.eslintrc.cjs
  apps/api-gateway/src/api/api.controller.spec.ts
  apps/api-gateway/src/api/api.service.comprehensive.spec.ts
  apps/api-gateway/src/api/api.service.spec.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/app.module.spec.ts
  apps/api-gateway/src/app.service.spec.ts
  apps/api-gateway/src/auth/auth.module.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/jwt.config.service.spec.ts
  apps/api-gateway/src/health/health.module.spec.ts
  apps/api-gateway/src/logger/config.spec.ts
  apps/api-gateway/src/logger/logger.middleware.spec.ts
  apps/api-gateway/src/messaging/messaging.module.spec.ts
  apps/api-gateway/src/messaging/messaging.service.spec.ts
  apps/api-gateway/src/routes.spec.ts
  apps/api/prisma/seed.ts
  apps/api/src/health/health.controller.ts
  apps/api/src/health/health.service.ts
  apps/web/stores/learner.ts
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/api/secret.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

creating a helm chart update workflow
  .github/workflows/helm-chart-publish.yml
Due: yarn secrets:check:staged, yarn format:staged

feat: allowing args to db url
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/api/secret.yaml
Due: yarn secrets:check:staged, yarn format:staged

ci: update helm to reflect on old changes from mark-old (#260)
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/_helpers.tpl
  helm-chart/mark/templates/api/deployment.yaml
  helm-chart/mark/templates/lti-credentials-manager/deployment.yaml
  helm-chart/mark/templates/network-policies.yaml
  helm-chart/mark/templates/ui/deployment.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix(ci): update api gateway secretEnv to include quote
  helm-chart/mark/templates/api-gateway/secret.yaml
Due: yarn secrets:check:staged, yarn format:staged

mark chart update 1.4.8
  helm-chart/mark/Chart.yaml
Due: yarn secrets:check:staged, yarn format:staged

ci: update migration.sh
  apps/api/migrate.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

ci: update instana to be on top of main.ts file (#267)
  .prettierignore
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
